In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func

spark = SparkSession.builder.appName("fake-friend-df").getOrCreate()

#Reading the csv file and telling pySpark to infer the schema based on the headers in the csv file
people = spark.read.option("header","true").option("Inferschema", "true").csv("fakefriends-header.csv")
print("Data reading was successful")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/05 21:09:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
#Print out the infered schema
people.printSchema()

root
 |-- userID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [9]:
#Show the individual people by age sorted
people.select("age").show()

+---+
|age|
+---+
| 33|
| 26|
| 55|
| 40|
| 68|
| 59|
| 37|
| 54|
| 38|
| 27|
| 53|
| 57|
| 54|
| 56|
| 43|
| 36|
| 22|
| 35|
| 45|
| 60|
+---+
only showing top 20 rows

In [10]:
#Show the names of the people
people.select("name").show()

+--------+
|    name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
|  Weyoun|
|  Gowron|
|    Will|
|  Jadzia|
|    Hugh|
|     Odo|
|     Ben|
|   Keiko|
|Jean-Luc|
|    Hugh|
|     Rom|
|  Weyoun|
|     Odo|
|Jean-Luc|
|  Geordi|
+--------+
only showing top 20 rows

In [11]:
#Super query to show the average number of friends by age
people.groupBy("age").agg(func.round(func.avg("friends"),0)).orderBy("age").show()

+---+----------------------+
|age|round(avg(friends), 0)|
+---+----------------------+
| 18|                 343.0|
| 19|                 213.0|
| 20|                 165.0|
| 21|                 351.0|
| 22|                 206.0|
| 23|                 246.0|
| 24|                 234.0|
| 25|                 197.0|
| 26|                 242.0|
| 27|                 228.0|
| 28|                 209.0|
| 29|                 216.0|
| 30|                 236.0|
| 31|                 267.0|
| 32|                 208.0|
| 33|                 325.0|
| 34|                 246.0|
| 35|                 212.0|
| 36|                 247.0|
| 37|                 249.0|
+---+----------------------+
only showing top 20 rows

In [ ]:
#Naturally after having used it we have to stop the spark engine
spark.stop()